@model gesn.webApp.Areas.Admin.Models.User.UserViewModel

<div class="modal-header">
    <h5 class="modal-title">Confirmar Exclusão</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="deleteUserForm" asp-action="DeletePartialConfirmed" asp-controller="Users" asp-area="Admin" onsubmit="return usersManager.confirmarExclusao(this);">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <p class="alert alert-warning">
            Tem certeza que deseja excluir o usuário <strong>@Model.UserName</strong>?
        </p>

        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Roles)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Roles)</dd>
        </dl>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" form="deleteUserForm" class="btn btn-danger">
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        Excluir
    </button>
</div> 